<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="hero-content">
    <div class="title">
    <h1>PinPoint</h1>
    <p class="lead">Find a ride with Pinpoint accuracy!</p>
    <img class="logo" src="assets/images/Carpool.jpg" alt="I'm Yeoman">
    </div>

     <!-- <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing"> -->

<!--       <p class="hero-input-group">
<input  type="text" class="form-control" class="input" placeholder="Specify a ride!" ng-model="newThing" <a href="/Rideboard"></a>
<input type="text" class="form-control" class="input" placeholder="Show me everything." ng-model="newThing">
</p>
 -->
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Destinations:</h2>
      <h5> We've chosen destinations you'll love around Israel.</h5><br>
      <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul> -->
    </div>
  </div>
</div>

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->
  <!-- !!!!!!!!!! Technion Row !!!!!!!!!!!!!!!! -->
  <a href="/RideBoard">
  <div class="container">
   <div class="row" class="firstPics">
    <div class="col-lg-6 col-md-6 sm-md-12">
      <h4>Rides to the Technion</h4>
      <img class="img-responsive" src="assets/images/nice_road.jpg" alt="I'm Yeoman">
    </div>
  </a>

   <a href="/ridesFromTechnion">
    <div class="col-lg-6 col-md-6 sm-md-12">
      <h4>Rides from the Technion</h4>
      <img class="img-responsive" src="assets/images/technion_thing.jpg" alt="I'm Yeoman">
    </div>
  </div>
</div>
</a>
<!-- !!!!!!!!!! Tel Aviv Row !!!!!!!!!!!!!!!! -->
<a href="/">
<div class="container">
   <div class="row">
    <div class="col-lg-6 col-md-6 sm-md-12">
      <h4>Rides to Tel Aviv University</h4>
      <img class="img-responsive" src="assets/images/tel_aviv.jpg" alt="I'm Yeoman">
    </div>
  </a>

  <a href="/">
    <div class="col-lg-6 col-md-6 sm-md-12">
      <h4>Rides from Tel Aviv University</h4>
      <img class="img-responsive" src="assets/images/theRoad.jpg" alt="I'm Yeoman">
    </div>
  </div>
</div>
</a>
<!-- !!!!!!!!!! Beer Sheva Row !!!!!!!!!!!!!!!! -->
<a href="/">
<div class="container">
   <div class="row">
    <div class="col-lg-6 col-md-6 sm-md-12">
      <h4>Rides to Ben-Gurion University</h4>
      <img class="img-responsive" src="assets/images/nice_sundown.jpg" alt="I'm Yeoman">
    </div>
</a>

 <a href="/">
    <div class="col-lg-6 col-md-6 sm-md-12">
      <h4>Rides from Ben-Gurion University</h4>
      <img class="img-responsive" src="assets/images/nice_sundown2.jpg" alt="I'm Yeoman">
    </div>
  </div>
</div>
</a>



<footer class="footer">
  <div class="container">
      <p>Omer Goldberg |
        <a href="https://twitter.com/tyhenkel">@</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
